.gallery_pagination .pagination .page-item  .page-link
{
    border: none;
    color: #31D2F2;
    border-radius: 100%;
    cursor: pointer;
}
.gallery_pagination .pagination .page-item  .page-link.active
{
    background-color: #31D2F2;
    border: none;
    color: #fff;
}
.brand .nav .nav-item .nav-link
{
    font-weight: normal;
    font-size: 14px;
    color: #606060;
}
.brand .nav .nav-item .nav-link.active
{
    background-color: #fff;
    color: #000;
}
.prev {
    background-color: rgb(49, 210, 242);
    border: none;
    border-radius: 5px;
    padding: .7em 1.3em;
    color: white;
}
.prev.disabled {
    background-color: rgb(101, 192, 210);
    border: none;
    border-radius: 5px;
    padding: .7em 1.3em;
    color: white;
}
.next {
    background-color: rgb(49, 210, 242);
    border: none;
    border-radius: 5px;
    padding: .7em 1.3em;
    color: white;
}
.next.disabled {
    background-color: rgb(101, 192, 210);
    border: none;
    border-radius: 5px;
    padding: .7em 1.3em;
    color: white;
}